<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.My.MySettings.cn" connectionString="Data Source=DESKTOP-42FB8SK\SQLEXPRESS;Initial Catalog=redsocial_prueba;User ID=sa;Password=1011SQLexp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>